<form class="form-horizontal" id="nav-search">
  <div class="form-group">
    <div class="col-sm-10">
      <input id="name_search_name" type="search" class="form-control" required>
    </div>
  </div>
</form>
