<h2>What's Your Idea?</h1>
<%= render partial: "form" %>
<h2>Search Ideas</h1>
<%= render partial: "search" %>
<h2>Current Ideas</h1>
  <div class="row" style="margin-top:-15px; border-style:none;">
    <div class="col-sm-2">
      <button type="button" class="btn-xs btn-primary" id="sort-btn">Sort By Quality</button>
    </div>
  </div>
<div id="all-ideas"></div>
