.editing {
  font-style: italic;
  color: blue;
  border-style: groove;
}

h2 {
  font-family: 'Pacifico', cursive;
}

h3 {
  margin-top: 0px
}

body {
  background-image: image-url("paper.jpg");
}

.row {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin-bottom: 3px;
}

.form-control {
  background-color: #FCF8E3;
}
